---
layout: page
title: Online Assessment
permalink:
weight: 4
---

<style>

input.app-segment-button {
  display: none;
}

.app-segment-control {
    margin:4px;
    background-color: white;
    border-radius:4px;
    border:1px solid #64aafa;
    overflow:auto;
    float:right;
}

.app-segment-control label {
    float:left;
    width:auto;
    text-align:center;
    padding:3px 5px;
    display:block;
    color: #64aafa;
    background-color: white
}

.app-segment-control label:not(:last-child) {
  border-right: 1px solid #64aafa;
}

.app-segment-control label:hover {
    background-color: #E6F0FF;
    color: #64aafa;
}

input:checked + label {
    background-color: #64aafa;
    color:#fff;
}

input:checked + label:hover {
    background-color: #5A9ADF;
    color:#fff;
}

input:checked + label:not(:last-child) {
    border-right: 1px solid white;
}

.app-table {
  width: 100%;
  color: #64aafa;
}

.app-results-table {
  float: right;
}
.app-table td {
  border-bottom: 1px solid;
}

.app-settings:after {
    content: "";
    display: table;
    clear: both;
}

.app-table-heading {
  padding: 4px 0px 4px 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
  width: 100%;
  display:block;
  background-color: #64aafa;
}

.app-table-header-left {
  text-align: left;
  color: #465f78;
  background-color: #EEEEEE;
  padding: 4px;
}

.app-table-header-right {
  text-align: right;
  color: #465f78;
  background-color: #EEEEEE;
  padding: 4px;
}

.app-interval-number {
  color: black;
  border-color: #EEEEEE !important;
  padding: 4px;
}

.app-observation-cell {
  border-color: #EEEEEE !important;
}

.app-label-input {
  display: block;
  padding: 5px 5px;
  margin: 4px 4px;
  border-bottom: 1px solid #EEEEEE;
  width: 85%;
  border-top: none;
  border-left: none;
  border-right: none;
  -webkit-appearance: none;
}

input {
  border-radius: 0;
}

input[type="button"] {
  background-color: #64aafa;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  -webkit-appearance: none;
}

input[type="button"]:hover {
    background-color: #E6F0FF;
    color: #64aafa;
}

.app-add-label-button {
  padding: 0px !important;
  border-radius: 10px !important;
  background-color: #fff !important;
  color: #64aafa !important;
  border: 1px solid #64aafa !important;
  float: right;
  width: 20px;
  height: 20px;
  line-height: 10px;
}

.app-add-label-button:hover {
  background-color: #E6F0FF !important;
}

.app-delete-button {
  padding: 0px !important;
  background-color: red !important;
  border-radius: 10px !important;
  width: 20px;
  height: 20px;
  float: left;
  font-weight: bolder;
}

.app-delete-button:hover, .app-start-timer:hover, .app-reset-timer:hover {
  color: white !important;
}

.app-settings-header {
  margin-bottom: 4px;
  margin-top: 2px;
}

.app-timer-settings {
  float: left;
  width: 48%;
}

@media screen and (max-width: 600px) {
  .app-timer-settings {
    width: 80%;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

.app-select{
  float: right;
  margin: 0px 2px;
}

.app-label-settings {
  float: right;
  width: 48%;
}

@media screen and (max-width: 600px) {
  .app-label-settings {
    width: 80%;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

.app-bottom-bar {
  background-color: #64aafa;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  width: 100%;
}

.app-timer {
  background-color: #64aafa;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.app-start-timer {
  background-color: #32ff64 !important;
  padding: 10px !important;
  margin: 15px;
  order: 1;
  flex-grow: 1;
}

.app-timer-label {
  font-size: 35px;
  vertical-align: middle;
  text-align: center;
  order: 2;
  flex-grow: 8;
}

.app-reset-timer {
  background-color: #ff6464 !important;
  padding: 10px !important;
  margin: 15px;
  float: right;
  order: 3;
  flex-grow: 1;
}

.current {
  background-color: #E6F0FF;
}

/**
  * Accordian
  */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
</style>
<div class="app">
  <button class="accordion">Assessment Settings</button>
  <div class="app-settings panel">
    <div class="app-timer-settings">
      <h4 class="app-settings-header">Timer</h4>
      <div class="app-interval-row" id="timerRow">
        <label for="numberOfIntervals">Intervals</label><select class="app-select" id="numberOfIntervals" onchange="intervalChange()"></select>
      </div>
      <div class="app-interval-row">
        <label>Interval length</label><select class="app-select" id="intervalSeconds" onchange="timeChange()"></select><span class="app-select">:</span><select class="app-select" id="intervalMinutes" onchange="timeChange()"></select>
      </div>
      <div class="app-interval-row">
        <label class="app-total-time" id="totalTime"></label>
      </div>
    </div>
    <div class="app-label-settings">
      <h4 class="app-settings-header">Labels</h4>
      <div id="customLabelsColumn">
      </div>
      <label for="addLabel">Add label</label><input class="app-add-label-button" type="button" id="addLabel" value="+" onclick="addLabelRow()">
    </div>
  </div>
  <h3 class="app-table-heading">Assessment</h3>
  <table class="app-table" cellspacing="0" id="assessmentTable">
  </table>
  <div class="app-bottom-bar">
    <table class="app-results-table" id="assessmentResultsTable">
    </table>
    <div class="app-timer">
      <input type="button" class="app-start-timer" id="startPauseTimerButton" value="Start" onclick="startPauseTimer()"><label class="app-timer-label" id="assessmentTimerLabel"></label><input type="button" class="app-reset-timer" value="Reset" onclick="resetTimer()">
    </div>
  </div>
</div>

<head>
  <script>
    function createSelectListFor(selectList, numberOfElements, start, def) {
      var selectList = document.getElementById(selectList);

      //Create and append the options
      for (var i = start; i <= numberOfElements; i++) {
        var option = document.createElement("option");
        option.value = i;
        option.text = i;
        selectList.appendChild(option);
      }
      selectList.value = def;
    }
    createSelectListFor("numberOfIntervals", 100, 1, 15);
    createSelectListFor("intervalMinutes", 60, 0, 0);
    createSelectListFor("intervalSeconds", 59, 0, 30);

    function formatSecondsAsString(d) {
      d = Number(d);

      var m = Math.floor(d % 3600 / 60);
      var s = Math.floor(d % 3600 % 60);

      return m + ":" + `00${s}`.slice(-2);
    }
    var secondsLeft;
    var totalSeconds;
    function timeChange() {
      numIntervals = document.getElementById("numberOfIntervals").value;
      var intervalMins = document.getElementById("intervalMinutes").value;
      var intervalSecs = document.getElementById("intervalSeconds").value;
      var totalTimeLabel = document.getElementById("totalTime");
      var assessmentTimerLabel = document.getElementById("assessmentTimerLabel");
      resetTimer();
      secondsLeft = Number(numIntervals) * ((Number(intervalMins) * 60) + Number(intervalSecs));
      totalSeconds = secondsLeft;
      totalTimeLabel.innerHTML = "Total time: " + formatSecondsAsString(secondsLeft);
      assessmentTimerLabel.innerHTML = formatSecondsAsString(secondsLeft);
    }
    timeChange()

    function addLabelRow(value = "") {
      var column = document.getElementById("customLabelsColumn");
      var cell = document.createElement('div');
      var deleteButton = document.createElement("input");
      deleteButton.className = "app-delete-button";
      deleteButton.type = "button";
      deleteButton.value = "-";
      deleteButton.onclick = function() {
        cell.parentNode.removeChild(cell);
        updateAssesmentTable();
      };
      var customLabelTextField = document.createElement("input");
      customLabelTextField.className = "app-label-input";
      customLabelTextField.type = "text";
      customLabelTextField.placeholder = "Enter label text";
      customLabelTextField.value = value;
      customLabelTextField.oninput = updateAssesmentTable;
      cell.appendChild(deleteButton);
      cell.appendChild(customLabelTextField);
      cell.id = "customLabelCell";
      column.appendChild(cell);
      var acc = document.getElementsByClassName("accordion");
      for (i=0; i<acc.length; i++) {
        acc[i].click();
        acc[i].click();
      }
    }
    addLabelRow("On Task")
    addLabelRow("Off Task")

    function getLabels() {
      var column = document.getElementById("customLabelsColumn");
      function textType(element) {
        return element.type == "text";
      }
      var inputs = column.querySelectorAll("input[type=text]");
      var values  = [].map.call(inputs, function( input ) {
        return input.value;
      });
      var labels = [].filter.call(values, function( inp ) {
        return inp != "";
      });
      return labels;
    }

    function intervalChange() {
      timeChange();
      updateAssesmentTable();
    }
    var numIntervals
    function updateAssesmentTable() {
      numIntervals = document.getElementById("numberOfIntervals").value;
      var table = document.getElementById("assessmentTable");
      table.innerHTML = "";
      table.appendChild(document.createElement('tbody'));
      var header = table.insertRow(0);
      header.className = "app-table-header-row";
      var labelHeading = document.createElement('th');
      labelHeading.className = "app-table-header-left";
      labelHeading.innerHTML = 'Interval';
      var observationHeading = document.createElement('th');
      observationHeading.className = "app-table-header-right";
      observationHeading.innerHTML = 'Observations';
      header.appendChild(labelHeading);
      header.appendChild(observationHeading);
      for (i=1; i <= numIntervals; i ++) {
        var row = table.insertRow(i);
        var intervalNumCell = row.insertCell(0);
        intervalNumCell.innerHTML = i;
        intervalNumCell.className = "app-interval-number"
        var observationsCell = row.insertCell(1);
        observationsCell.className = "app-observation-cell"
        var appSegmentControl = document.createElement("div");
        appSegmentControl.className = "app-segment-control";
        var labs = getLabels();
        for(j=0; j < labs.length; j++) {
          var checkbox = document.createElement("input")
          checkbox.className = "app-segment-button";
          checkbox.type = "checkbox"
          checkbox.id = ("appSegmentButton" + i) + j
          checkbox.onchange = updateResults
          var lab = document.createElement("label")
          lab.htmlFor = checkbox.id
          lab.innerHTML = labs[j]
          appSegmentControl.appendChild(checkbox)
          appSegmentControl.appendChild(lab)
        }
        observationsCell.appendChild(appSegmentControl);
      }
      updateResults()
    }
    updateAssesmentTable()

    getLabels();

    function updateTimer() {
      if (secondsLeft <= 0) {
        resetTimer();
        return;
      }
      var assessmentTimerLabel = document.getElementById("assessmentTimerLabel");
      assessmentTimerLabel.innerHTML = formatSecondsAsString(secondsLeft);
      var currentIndex = Math.floor((numIntervals) - secondsLeft/(totalSeconds/numIntervals)) + 1
      console.log(currentIndex);
      var table = document.getElementById("assessmentTable");
      for (i=0; i < table.rows.length; i++) {
        if(i == currentIndex){
          table.rows[i].className = "current"
        } else {
          table.rows[i].className = ""
        }
      }
      secondsLeft = secondsLeft - 1;
    }
    var timer;

    function startPauseTimer() {
      var startButton = document.getElementById("startPauseTimerButton");
      if (startButton.value == "Start") {
        startTimer()
        startButton.value = "Pause";
      } else if (startButton.value == "Pause") {
        startButton.value = "Resume";
        pauseTimer();
      } else {
        startTimer();
        startButton.value = "Pause";
      }
    }
    function startTimer() {
      timer = setInterval(updateTimer, 1000);
    }
    function pauseTimer() {
      clearInterval(timer);
    }
    function resetTimer() {
      clearInterval(timer)
      secondsLeft = totalSeconds;
      var startButton = document.getElementById("startPauseTimerButton");
      startButton.value = "Start";
      var assessmentTimerLabel = document.getElementById("assessmentTimerLabel");
      assessmentTimerLabel.innerHTML = formatSecondsAsString(secondsLeft);
      var table = document.getElementById("assessmentTable");
      for (i=0; i < table.rows.length; i++) {
        table.rows[i].className = "";
      }
    }

    function getCountForLabel(label) {
      var table = document.getElementById("assessmentTable");
      var checked = table.querySelectorAll("input[type=checkbox]:checked");
      var checkedForLabel = [].filter.call(checked, function( inp ) {
        return inp.nextSibling.innerHTML == label;
      });
      return checkedForLabel.length;
    }

    function updateResults() {
      var resultTable = document.getElementById("assessmentResultsTable");
      resultTable.innerHTML = '';
      var labels = getLabels();
      var row = resultTable.insertRow();
      for (i=0; i < labels.length; i++) {
        var labelCell = row.insertCell();
        labelCell.innerHTML = labels[i] + ":";
        var countCell = row.insertCell();
        countCell.innerHTML = getCountForLabel(labels[i]);
      }
    }
    updateResults();

    function accordion() {
      var acc = document.getElementsByClassName("accordion");
      var i;

      for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function() {
          this.classList.toggle("active");
          var panel = this.nextElementSibling;
          if (panel.style.maxHeight){
            panel.style.maxHeight = null;
          } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
          }
        }
      }
    }
    accordion()
  </script>
</head>
