---
layout: default
title: Home
weight: 1
headline: Available now!
iphone_featured_screenshot: assets/iPhone_Screenshot.png
ipad_featured_screenshot: assets/iPad_Screenshot.png
ipad_and_iphone_featured_screenshot: assets/iPad_and_iPhone_Screenshot.png
---

<div class="home">
<h1>Insight has been removed from the App Store. Thank you for the support over the years.</h1>
  <!---
  <img class="iphone-screenshot-portrait" src="{{ site.baseurl }}/{{ page.iphone_featured_screenshot  }}" alt-text="iPhone featured screenshot">
  <img class="ipad-screenshot-landscape" src="{{ site.baseurl }}/{{ page.ipad_featured_screenshot  }}" alt-text="iPad featured screenshot">
  -->
  <img class="ipad-screenshot-landscape" src="{{ site.baseurl }}/{{ page.ipad_and_iphone_featured_screenshot  }}" alt-text="iPad featured screenshot">
  <div class="features">
    <div class="feature-block-row">
        <div class="feature-block left">
            <h2 class="feature-heading">Free</h2>
            <p class="feature-content">Working in education is expensive enough as it is, that’s why {{ site.app_name }} is supported by ads so you can just enjoy the app.</p>
        </div>
        <div class="feature-block right">
            <h2 class="feature-heading">Customizable</h2>
            <p class="feature-content">Add, remove, and customize observation labels to suit your needssuit your needs. Create your own labels to ensure that each observation is well-suited for the specific student.</p>
        </div>
    </div>
    <div class="feature-block-row">
        <div class="feature-block left">
            <h2 class="feature-heading">Efficient</h2>
            <p class="feature-content">Pick up where you left off. Make and change default settings for the next time you open the app.</p>
        </div>
        <div class="feature-block right">
            <h2 class="feature-heading">Private</h2>
            <p class="feature-content">Student data is never saved, so you don't have to worry about privacy issues.</p>
        </div>
    </div>
  </div>

<!--
  <h1 class="page-heading">Announcements</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>


  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
-->

</div>
